/performance/jmfSphinxConfig8.xml
/performance/example.gram
/performance/iwouldliketoheartheweather8.wav,i would like to hear the weather,spencer, team speechforge
/performance/lookupstocks8.wav,look up stocks,spencer, team speechforge
/performance/pleasegetmesportsnews8.wav,please get me sports news,spencer, team speechforge
/performance/pleasegetsportsnews8.wav,please get sports news,spencer, team speechforge
/performance/pleasegetmetheweather8.wav,please get me the weather,spencer, team speechforge
/performance/iwouldlikesportsnews8.wav,i would like sports news,spencer,team speechforge
