/performance/jmfSphinxConfig16.xml
/performance/example.gram
/performance/iwouldlikesportsnews16.wav,i would like sports news,spencer,team speechforge
/performance/iwouldliketoheartheweather16.wav,i would like to hear the weather,spencer, team speechforge
/performance/lookupstocks16.wav,look up stocks,spencer, team speechforge
/performance/pleasegetmesportsnews16.wav,please get me sports news,spencer, team speechforge
/performance/pleasegetsportsnews16.wav,please get sports news,spencer, team speechforge
/performance/pleasegetmetheweather16.wav,please get me the weather,spencer, team speechforge